body{
    font-family: Arial, sans-serif;
    background-color: #14001B;
    color: white;

}

nav{
    background-color: #37123C;
    border-radius: 30px;
    width: 95%;
    margin: auto;
    margin-top: 30px;
    
}
ul{
    display: flex;
    padding: 20px;
    gap: 50px;
    list-style-type: none;
    justify-content: center;
    font-size: large;
    
}
nav ul li a{
 color: white;
 text-decoration: none; 
 border-bottom: 2px solid transparent;
 padding-bottom: 6px;
 transition: 0.3s;  
}

nav ul li a:hover{
    font-weight: bold;
    border-bottom: 3px solid #7E2183;
    border-radius: 5px;
}
nav ul li:last-child a {
    background-color: #AF4AB5;
    padding: 10px 30px;
    border-radius: 20px;    
    border: none;
    
}

 section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}
.left {
    margin-top: 10vh;
    width: 60%;
}

 h1, h3{
    display: inline;
   
 }
h1{
    color: white;
    font-size: 5vw;
    
 }
 h3{
    color: white;
    font-weight: normal;
    font-size: 2vw;
 }

h5{
    color: white;
    font-size: smaller;
 }
 h2{
    color: #7B237E;
    font-size: 5vw;
    margin-top: 25px;
    margin-bottom: 10px;
 }
 span{
    color: white;
    font-size: 5vw;
 }
    p{
        color: white;
        margin-top: 0;
    }
.right img {
    width: 40vw;
    height: auto;
    margin-top: 10vh;
}
