body{
    color: white;
    font-family: Arial, sans-serif;
    background-color: #14001B;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

nav{
    height: 60px;
    background-color: #37123C;
    border-radius: 30px;
    width: 95%;
    margin: auto;
    margin-top: 30px;
    
}
ul{
    display: flex;
    padding: 20px;
    gap: 50px;
    list-style-type: none;
    justify-content: center;
    font-size: large;
}

nav ul li:last-child a {
    color: white;
    background-color: #AF4AB5;
    padding: 10px 30px;
    text-decoration: none;
    border-radius: 25px;    
    border: none;
}

.btnbtn{
    color: white;
    border: none;
    background-color: transparent;
    font-size: medium;
    text-decoration: none; 
    padding-bottom: 8px;
    transition: 0.3s;  
}

.btncurd{
    color: white;
    border: none;
    background-color: transparent;
    font-size: medium;
    text-decoration: none; 
    padding-bottom: 8px;
    transition: 0.3s;  
    cursor: pointer;
}

.btnbtn:hover{
    font-weight: bold;
    border-bottom: 3px solid #7E2183;
    border-radius: 8px;
    cursor: pointer;

}

.btncurd:hover{
    font-weight: bold;
    cursor: pointer;
}

/*home section*/

 section {
    display: flex;
    padding: 0 40px;
    
}
.homeleft {
    margin-top: 6vh;
    width: 60%;
}

 h1, h3{
    display: inline;
   
 }
h1{
    color: white;
    font-size: 5vw;
    
 }
 h3{
    color: white;
    font-weight: normal;
    font-size: 2vw;
 }

h5{
    color: white;
    font-size: smaller;
 }
 h2{
    color: #7B237E;
    font-size: 4rem;
    margin-top: 20px;
    margin-bottom: 10px;
    line-height: 1.2;
 }
 span{
    color: white;
    font-size: 4rem;
 }
.homeleft p{
        color: white;
        margin-top: 2px;
        font-size: medium;
        line-height: 1.5;
    }
.homeright{
    display: flex;
    justify-content: center;
    align-items: center;
}
.homeright img {
    width: 40vw;
    height: auto;
    margin-top: 10vh;
    box-shadow: 0 0 20px 15px rgb(155, 51, 164);
}
.btns{
    margin-top: 30px;
    display: flex;
    gap: 20px;
}
.btn1 {
    background-color: rgb(243, 235, 243);
    color: black;
    border: none;
    border-radius: 80px;
    padding: 12px 50px;
    font-size: large;
    cursor: pointer;
}

.btn1:hover{
   transform: translateY(-2px);
   background-color: rgb(227, 205, 227);
}

.btn2 {
    background-color: transparent;
    color: white;
    border: white solid 1px;
    border-radius: 80px;
    padding: 12px 50px;
    font-size: large;
    cursor: pointer;
}

.btn2:hover{
    transform: translateY(-2px);
    border: white solid 2px;
    border-top: transparent;
}

.icons{
    margin-top: 40px;
    display: flex;
    gap: 30px;
    padding-left: 40px;
}
.icons a i{
    color: white;
    font-size: 1.5vw;
    transition: 0.3s;
    padding: 3px;
    border-radius: 60%;
    color: #7B237E;
    background-color: white;
    padding: 10px;
}

/*about section*/

#About{
    margin-top: 50px;
}

.left{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left img{
    height: auto;
    margin-right: 20px;
}
.right {
    width: 50%;
    margin-top: 70px;
}

.right h2 {
    font-size: 3vw;
    margin-bottom: 20px;
    color: white;
}

.right p {
    font-size: 1.2vw;
    line-height: 1.5;
}
.right h2{
    color: white;
}
.skillicons {
    margin-top: 20px;
    display: flex;
    gap: 30px;
}
.skillicons i {
    font-size: 2vw;
    color: white;
    background-color: #791D7F;
    border-radius: 10px;
    padding: 10px;
}
.purple {
    border: none;
    height: 3px;              
    background-color: #dd2ae3; 
    width: 90%;               
    margin-top: 60px;        
    border-radius: 5px; 
    background: linear-gradient(
        to right,
        transparent 0%,      /* start main thin */
        #ab1eaf 10%,        
        #ab1eaf 90%,        
        transparent 100%     /* end main thin */
    );
}

/*services section*/

#services {
    color: white;
    text-align: center;
    justify-content: center;
}

.serheading {
    margin-top: 60px;
}

.serhead {
    color: white;
}

.sertext {
    color: white;
    font-size: large;
}


.cardscontainer {
    display: flex;
    gap: 40px;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 60px;
}

#services .head {
    font-size: 3em;   
    margin-bottom: 15px;
    color: white;
}

#services .text {
    font-size: 1.3em;  
    line-height: 1.6;  
    color: white;
}

.cards{
    background-color: #1f0526;
    height: 45vh;
    width: 18vw;
    transition: all 0.4s ease;
    border-radius: 15px;
    padding: 15px;
}
.cards i{
    display: block; 
    font-size: 5vw;
    margin-top: 20px;
    color: rgb(222, 171, 205);
}
.cards h3{
    font-size: 2vw;
    font-weight: bold;
    color: white;
    padding-top: 6vh;
    margin-top: 15px;
}

.cards p{
    font-size: 1.2vw;
    line-height: 1.5;
}

.cards:hover{
    background-color: #c04ac4;
    transform: translateY(-15px);
    box-shadow: 0 0 30px 10px rgb(155, 51, 164);
}

/*Projects section*/

.headings{
    color: white;
    text-align: center;
    justify-content: center;
}

#projects{
    gap: 30px;
    margin-top: 0;
}

#projects .procards{
    background-color: #1f0526;
    height: 73vh;
    width: 25vw;
    transition: all 0.4s ease;
    border-radius: 15px;
    padding-top: 10px;
    padding-bottom: 15px;
    margin-top: 20px;
}  

#projects .procards:hover{
 box-shadow: 0 0 20px 10px rgb(123, 32, 168);   
 transform: translateY(-15px);
}

.procards img{
    height: 45vh;
    width: 23vw;
    padding: 5px 5px 15px 15px;
}

.txtbtn{
    display: flex;
    justify-content: space-between; 
    padding-left: 12px;
    padding-right: 12px;
}

.app{
    margin-top: 15px;
    font-size: x-large;
    font-weight: bold;
}

.appbtn{
    color: black;
    display: inline-block;
    background-color: rgb(230, 178, 230);
    border-radius: 25px;
    margin: 12px 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding: 15px;
    font-size: medium;
}

.intro {
    font-size: larger;
    font-weight: normal;
    text-align: start;
    justify-content: center;
    color: white;
    padding-right: 12px;
    padding-left: 12px;
    margin: 5px;
}

.purplelast {
    border: none;
    height: 3px;              
    background-color: #dd2ae3; 
    width: 90%;               
    margin-top: 90px;        
    border-radius: 5px; 
    background: linear-gradient(
        to right,
        transparent 0%,      /* start main thin */
        #ab1eaf 10%,        
        #ab1eaf 90%,        
        transparent 100%     /* end main thin */
    );
}

/*contact*/

.leftside{
    margin-top: 110px;
    width: 50%;
}

.leftside .contp{
    font-size: 2vw;
}

.leftside h1, .contp{
    padding-left: 40px;
}

.right{ 
    flex: 1;
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    justify-content: center;
}

.form{
    column-gap: 30px;
    margin-bottom: 25px;
}

label{
    display: block;
    margin-bottom: 10px;
    font-size: large;
}

input{
    color: white;
    font-size: medium;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    background-color: transparent;
    border-color: #db4de0;
    border-width: 3px;
}

textarea{
    padding: 20px;
    padding-bottom: 70px;
    border-radius: 10px;
    width: 80%;
    background-color: transparent;
    border-color: #db4de0;
    border-width: 3px;
    font-size: medium;
}

input:hover{
    border-color: #AF4AB5;
    color: white;
    font-size: medium;
}

textarea {
    color: white;
    font-size: medium;
}

textarea:hover{
    border-color: #AF4AB5;
}

input::placeholder{
    color: rgb(206, 175, 214);
    font-size: medium;
}
textarea::placeholder{
    color: rgb(206, 175, 214);
    font-size: medium;
}

input, textarea{
    row-gap: 20px;
}

.subbtn{
    margin-top: 40px;
    padding: 20px 50px;
    border-radius: 20px;
    color: white;
    font-size: medium;
    font-weight: bold;
    background: rgb(122, 16, 122);
}

.subbtn:hover{
    cursor: pointer;
    background-color: #9f44a4;
    transform: translateY(-3px);
}


/*curd.html*/


/*table&front buttons*/

#twobtns{
    display: flex;
    margin-top: 30px;
    gap: 20px;
    padding-right: 15px;
    padding-left: 15px;
}

#open{
    background-color: #7E2183;
    color: white;
    padding: 16px 40px;
    border: none;
    border-radius: 20px;
    font-size: large;
    font-weight: bold;
    margin-top: 10px;
    cursor: pointer;
}

#open i{
    margin: 5px;
    font-size: large;
}
#createbtn2{
    background-color: #7E2183;
    color: white;
    padding: 16px 40px;
    border: none;
    border-radius: 20px;
    font-size: medium;
    font-weight: bold;
    margin-top: 10px;
    cursor: pointer;
}
#createbtn2 i{
    background-color: transparent;
    margin-left: 8px;
    font-size: large;
}

table{
    width: 100%;
    padding: 20px;
    margin: auto;
    
}
tr, th, td{
    border: 1px solid #AF4AB5;
    padding: 20px;
    align-items: start;
}


tr{
    text-align: center;
}


#formfiller {
    display: none;  
    height: 500px;  
    width: 650px;
    background-color: white;
    color: #70368b;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}

/* Heading */
#formfiller h4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    margin-bottom: 10px;
    color: #70368b;
    cursor: pointer;
}

#close{
      display: flex;
    border: none;
    background: none;
    font-size: 20px;
    color: #70368b;
    cursor: pointer;
}

.form {
     display: flex;
    gap: 50px;
    margin: 3px;
    width: 100%;   
    align-items: center;
}

span{
    color: #560d58;
    font-size: 16px;
    font-weight: bold;

}

.addform {
    display: flex;
    font-size: 16px;
    font-weight: bold;
    color: #ab1eaf;
    margin-top: 20px;
    padding: 2px;
}

.addinput {
    width: 100%;             
    padding: 10px 10px;
    border: none;
    border-bottom: 2px solid #7a0b7f;
    border-radius: 2px;
    outline: none;
    font-size: 16px;
    margin-bottom: 20px;
    color: black; 
   
}

.addinput::placeholder {
    font-size: medium;          
    color: #7a0b7f;              
}

.addinput:focus {
    color: black;
}

.addinput:hover {
    color: inherit;
    background-color: inherit;
    border-color: inherit;
}

#sub{
    margin-left: auto;
}

#subbtn {
    background-color: #7E2183;
    color: white;
    padding: 14px 40px;
    border: none;
    border-radius: 20px;
    font-size: medium;
    cursor: pointer;
}

.triobtns{
      display: flex;  
    gap: 10px;
    text-align: center;
}

.blue{
  font-size: 15px;
  background-color: blue;
  padding: 8px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.yellow{
   font-size: 15px;
  background-color: yellow;
  padding: 8px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.red{
  font-size: 15px;
  background-color: red;
  padding: 8px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}