body{
    font-family: Arial, sans-serif;
    background-color: #14001B;
    color: white;

}

nav{
    background-color: #37123C;
    border-radius: 30px;
    width: 95%;
    margin: auto;
    margin-top: 30px;
    
}
ul{
    display: flex;
    padding: 20px;
    gap: 50px;
    list-style-type: none;
    justify-content: center;
    font-size: large;
    
}
nav ul li a{
 color: white;
 text-decoration: none; 
 border-bottom: 2px solid transparent;
 padding-bottom: 6px;
 transition: 0.3s;  
}

nav ul li a:hover{
    font-weight: bold;
    border-bottom: 3px solid #7E2183;
    border-radius: 5px;
}
nav ul li:last-child a {
    background-color: #AF4AB5;
    padding: 10px 30px;
    border-radius: 20px;    
    border: none;
    
}

 section {
    display: flex;
    padding: 0 40px;
}
.homeleft {
    margin-top: 5vh;
    width: 60%;
}

 h1, h3{
    display: inline;
   
 }
h1{
    color: white;
    font-size: 5vw;
    
 }
 h3{
    color: white;
    font-weight: normal;
    font-size: 2vw;
 }

h5{
    color: white;
    font-size: smaller;
 }
 h2{
    color: #7B237E;
    font-size: 4rem;
    margin-top: 20px;
    margin-bottom: 10px;
    line-height: 1.2;
 }
 span{
    color: white;
    font-size: 4rem;
 }
.homeleft p{
        color: white;
        margin-top: 2px;
        font-size: large;
        line-height: 1.5;
    }
.homeright{
    display: flex;
    justify-content: center;
    align-items: center;
}
.homeright img {
    width: 40vw;
    height: auto;
    margin-top: 10vh;
    box-shadow: 0 0 20px 15px rgb(155, 51, 164);
}
.btns{
    margin-top: 30px;
    display: flex;
    gap: 20px;
}
.btn1 {
    background-color: rgb(243, 235, 243);
    color: black;
    border-radius: 80px;
    padding: 12px 50px;
    font-size: large;
}
.btn2 {
    background-color: transparent;
    color: white;
    border: white solid 3px;
    border-top: transparent;
    border-radius: 80px;
    padding: 12px 50px;
    font-size: large;
}
.icons{
    margin-top: 40px;
    display: flex;
    gap: 30px;
    padding-left: 40px;
}
.icons a i{
    color: white;
    font-size: 1.5vw;
    transition: 0.3s;
    padding: 3px;
    border-radius: 60%;
    color: #7B237E;
    background-color: white;
    padding: 10px;
}

#About{
    margin-top: 50px;
}

.left{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left img{
    height: auto;
    margin-right: 20px;
}
.right {
    width: 50%;
    margin-top: 70px;
}

.right h2 {
    font-size: 3vw;
    margin-bottom: 20px;
    color: white;
}

.right p {
    font-size: 1.2vw;
    line-height: 1.5;
}
.right h2{
    color: white;
}
.skillicons {
    margin-top: 20px;
    display: flex;
    gap: 30px;
}
.skillicons i {
    font-size: 2vw;
    color: white;
    background-color: #791D7F;
    border-radius: 10px;
    padding: 10px;
}
