body{
    font-family: Arial, sans-serif;
    background-color: #14001B;
    color: white;

}
nav{
    background-color: #37123C;
    border-radius: 30px;
    width: 90%;
    margin: auto;
    margin-top: 30px;
    
}
ul{
    display: flex;
    padding: 20px;
    gap: 50px;
    list-style-type: none;
    justify-content: center;
    font-size: large;
    
}
nav ul li a{
 color: white;
 text-decoration: none; 
 border-bottom: 2px solid transparent;
 padding-bottom: 6px;
 transition: 0.3s;  
}

nav ul li a:hover{
    font-weight: bold;
    border-bottom: 3px solid #7E2183;
    border-radius: 5px;
}
nav ul li:last-child a {
    background-color: #AF4AB5;
    padding: 10px 30px;
    border-radius: 20px;    
    border: none;
    
}
section{
    
}


